@use "../mixins" as *;

.banner {
  padding-top: 20rem;
  min-height: 120rem;
  position: relative;

  @include vp-767 {
    min-height: 85rem;
    padding-top: 5rem;
  }

  &::before {
    content: "";
    background-image: url("../assets/image/banner/background_overlay.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: 1rem;
    top: 0;
    width: 100%;
    height: 100%;

    @include vp-767 {
      display: none;
    }
  }
  &__wrapper {
    position: relative;
    &::after {
      content: "";
      background-image: url("../assets/image/banner/background.png");
      background-repeat: no-repeat;
      position: absolute;
      right: -20rem;
      top: -8rem;
      width: 110rem;
      height: 120rem;

      @include vp-1279 {
        width: 85rem;
        height: 115rem;
      }

      @include vp-767 {
        background-image: url("../assets/image/banner/banner__mobile.png");
        right: auto;
        bottom: 0;
        width: 30rem;
        height: 40rem;

        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  &__inner {
    position: relative;
    z-index: 1000;

    @include vp-1023 {
      padding-top: 25rem;
    }

    @include vp-767 {
      padding-top: 45rem;
    }
  }
  &__title {
    font-weight: bold;
    background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(44,72,135,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    max-width: fit-content;
    display: flex;
    line-height: 12rem;
    flex-direction: column;
    gap: 7rem;
    position: relative;
    margin-bottom: 2rem;

    @include vp-1023 {
      transform: scale(0.8);
      transform-origin: top left;
      position: absolute;
      top: 0;

      width: fit-content;
    }

    @include vp-767 {
      transform: scale(0.5);
      transform-origin: top left;
    }

    @include vp-374 {
      transform: scale(0.4);
      transform-origin: top left;
    }

    &::before {
      content: "";
      background-image: url("../assets/image/banner/title_caption.svg");
      background-repeat: no-repeat;
      position: absolute;
      height: 12rem;
      width: 3.5rem;
      bottom: -1.5rem;
      left: -1.5rem;
      z-index: -1;

      @include vp-767 {
        bottom: -81px;
        transform: rotate(90deg) scale(1.2);
        right: 190px;
        left: auto;
      }
    }
    &::after {
      content: "";
      background-image: url("../assets/image/banner/background_title.svg");
      background-repeat: no-repeat;
      position: absolute;
      width: 100%;
      height: 18.5rem;
      background-size: cover;
      top: 13rem;
      z-index: -1;
    }
  }
  &__subtitle {
    font-size: 4rem;
    letter-spacing: 0.1rem;
    text-transform: lowercase;
    margin-bottom: 3rem;

    @include vp-767 {
      display: none;
    }
  }
  &__caption {
    font-family: "Onest", sans-serif;
    font-size: 2.4rem;
    font-weight: 300;
    max-width: 75rem;
    display: inline-block;
    margin-bottom: 7rem;

    @include vp-767 {
      display: none;
    }
  }
  &__title-top {
    font-size: 12.8rem;
  }
  &__title-bottom {
    font-size: 15rem;
  }
  &__information {
    max-width: 65rem;
    display: flex;
    gap: 1rem;
    justify-content: space-between;

    @include vp-374 {
      font-size: 0.8rem;
    }
  }
  &__information-item-image {
    margin: 0 auto;

    @include vp-767 {
      width: 8rem;
    }
  }
  &__button {
    margin-bottom: 12rem;

    @include vp-767 {
      margin-bottom: 4rem;
      width: 100% !important;
    }
  }
}
