@use "../mixins" as *;

.footer {
  padding: 5rem 0;
  &__top {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    margin-bottom: 5rem;

    @include vp-1023 {
      flex-direction: column;
      align-items: center;
      gap: 3rem;
      margin-bottom: 0;
    }
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    gap: 10rem;

    @include vp-1023 {
      display: none;
    }
  }
  &__nav-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  &__nav-item {
    &:hover, &_activated {
      color: #2B4A88;
    }
  }
  &__nav-list {
    font-size: 1.6rem;
    font-family: "Onest", sans-serif;
    font-weight: 500;
  }
  &__logo {
    margin-bottom: 4.5rem;

    @include vp-1023 {
      margin-bottom: 0;
      img {
        margin: 0 auto;
      }
    }
  }
  &__info {
    @include vp-1023 {
      text-align: center;
    }
  }
  &__info-item {
    display: inline-block;
    width: 100%;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #2f2f2f;
    margin-bottom: 0.5rem;
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: end;

    @include vp-1023 {
      align-items: center;
      gap: 1rem;
    }
  }
  &__contacts-top {
    display: flex;
    align-items: center;
    margin-bottom: 5rem;

    @include vp-1023 {
      flex-direction: column-reverse;
      gap: 2rem;
      justify-content: center;
      margin-bottom: 2rem;
    }
  }
  &__contacts-info {
    text-align: right;
    width: 25rem;

    @include vp-1023 {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      gap: 1rem;
    }
  }
  &__contacts-phone {
    font-size: 2.2rem;
    font-weight: bold;
    color: #2f2f2f;
    width: fit-content;
    display: inline-block;
  }
  &__contacts-mail {
    font-size: 1.8rem;
    color: #2f2f2f;
    width: fit-content;
    display: inline-block;
  }
  &__bottom {
    display: flex;
    justify-content: space-between;

    @include vp-1023 {
      display: none;
    }
  }
  &__copyright {
    span {
      display: inline-block;
      width: 100%;
    }
  }
  &__desktop-info {
    @include vp-1023 {
      display: none;
    }
  }
  &__mobile-info {
    display: none;
    @include vp-1023 {
      display: block;
      text-align: center;
    }
  }
}
