@use "../mixins" as *;

.quality {
  margin-bottom: 10rem;
  &__header {
    text-align: center;
    margin-bottom: 5rem;

    @include vp-767 {
      margin-bottom: 2rem;
    }
  }
  &__title {
    font-size: 3.6rem;
    max-width: 130rem;
    display: inline-block;
    text-transform: uppercase;

    @include vp-1279 {
      font-size: 2.4rem;
    }

    @include vp-767 {
      font-size: 1.4rem;
    }
  }
  &__item {
    @include vp-767 {
      min-width: 30rem;
    }
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 3rem;
    row-gap: 2rem;

    @include vp-1023 {
      grid-template-columns: repeat(3, 1fr);
    }

    @include vp-767 {
      display: flex;
      overflow: scroll;
      flex-wrap: nowrap;
    }
  }
  &__caption {
    font-family: "gilroy-regular", sans-serif;
    &_highlight {
      font-family: "gilroy-bold", sans-serif;
    }
  }
  &__image-wrapper {
    position: relative;
    margin-bottom: 3rem;
    min-height: 30rem;

    @include vp-767 {
      min-height: 20rem;
    }

    img {
      position: absolute;
      margin: 0 auto;
      bottom: 0;
      left: 0;
      right: 0;

      @include vp-767 {
        transform: scale(0.8);
        transform-origin: center bottom;
      }
    }
    &::after {
      content: "";
      position: absolute;
      background: #D9D9D9;
      border-radius: 1.6rem;
      width: 100%;
      height: 20rem;
      bottom: 0;
      z-index: -1;

      @include vp-767 {
        height: 15rem;
      }
    }
  }
}
