@use "../mixins" as *;

.steps {
  padding-bottom: 5rem;
  margin-bottom: 10rem;
  @include vp-767 {
    overflow: hidden;
  }
  &__wrapper {
    display: flex;
  }
  &__image-wrapper {
    flex-basis: 50%;

    @include vp-1023 {
      display: none;
    }
  }
  &__content {
    padding-top: 10rem;
    flex-basis: 50%;
    position: relative;

    @include vp-1023 {
      flex-basis: 100%;
    }

    @include vp-767 {
      padding-top: 7rem;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      background-image: url("/assets/image/steps/steps_content_background.png");
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;
      width: 80rem;
      height: 80rem;

      @include vp-1023 {
        right: 5.5rem;
      }

      @include vp-767 {
        background-image: url("/assets/image/steps/steps_content_background_mobile.png");
        margin: 0 auto;
        background-size: contain;
        width: 100%;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
      }
    }
  }
  &__content-image {
    margin: 0 auto;
  }
  &__title {
    font-size: 4.2rem;
    color: #2f2f2f;
    text-align: center;
    max-width: 55rem;
    margin: 0 auto 2rem auto;
    line-height: 5rem;
    font-weight: 300;
    .strong {
      font-weight: 400;
    }

    @include vp-767 {
      font-size: 2rem;
      max-width: 25rem;
      line-height: 2rem;
    }
  }
  &__cards {
    margin: 0 auto;
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  &__item {
    display: flex;
    align-items: center;
    gap: 1rem;

    @include vp-767 {
      justify-content: center;
    }
  }
  &__item-content {
    font-size: 1.8rem;
    @include vp-767 {
      font-size: 1rem;
      max-width: 25rem;
    }
  }
  &__number {
    font-size: 4.6rem;
    color: #2f2f2f;
    @include vp-767 {
      font-size: 1.4rem;
    }
  }
}
