<section class="banner">
    <div class="main-container banner__wrapper">
        <div class="banner__inner">
            <h1 class="banner__title">
                <span class="banner__title-top">Высотные</span>
                <span class="banner__title-bottom">Работы</span>
            </h1>
            <h2 class="banner__subtitle">
                — Мы там, где другим не дотянуться
            </h2>
            <span class="banner__caption">
                Решаем задачи любой сложности на высоте с гарантией результата и соблюдением всех норм безопасности
            </span>
            <div class="banner__button button button_big">
                <span class="button__title">Вызвать замерщика</span>
                <span class="button__caption">бесплатный вызов специалиста</span>
            </div>
            <div class="banner__information">
                <div class="banner__information-item">
                    <img class="banner__information-item-image" src="/assets/image/stat_item_1.png" alt="">
                    <span class="banner__information-item-caption">
                        Мы работаем с 2015 года.
                    </span>
                </div>
                <div class="banner__information-item">
                    <img class="banner__information-item-image" src="/assets/image/stat_item_2.png" alt="">
                    <span class="banner__information-item-caption">
                        Мы работаем с 2015 года.
                    </span>
                </div>
                <div class="banner__information-item">
                    <img class="banner__information-item-image" src="/assets/image/stat_item_3.png" alt="">
                    <span class="banner__information-item-caption">
                        Мы работаем с 2015 года.
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
