<section class="consultation">
    <div class="main-container">
        <div class="consultation__wrapper">
            <div class="consultation__header">
                <img class="consultation__decorate-caption consultation__decorate-caption_1" src="/assets/image/consultation_1.png" alt="">
                <img class="consultation__decorate-caption consultation__decorate-caption_2" src="/assets/image/consultation_2.png" alt="">
                <img class="consultation__decorate-caption consultation__decorate-caption_3" src="/assets/image/consultation_3.png" alt="">
                <div class="consultation__title">
                    <span>получить</span>
                    <span>беслпатную</span>
                    <span>консультацию</span>
                </div>
            </div>
            <form class="consultation__form">
                <div class="consultation__form-inner">
                    <select class="consultation__form-select">
                        <option value="value1">Получить в WhatsApp</option>
                        <option value="value2">Получить в Telegram</option>
                    </select>
                    <input type="text" class="consultation__form-input" placeholder="Ваш номер телефона">
                    <input class="consultation__form-button" type="submit" value="отправить заявку">
                </div>
                <div class="consultation__form-bottom">
                    <div class="consultation__author">
                        <span>Вильдам Гималетдинов</span>
                        <img class="consultation__decorate-caption" src="/assets/image/consultation_4.png" alt="">
                    </div>
                    <label class="consultation__form-radio">
                        <input type="radio">
                        Cогласен с условиями <a href="#">политики конфиденциальности данных</a>
                    </label>
                </div>
            </form>
        </div>
    </div>
</section>
