<section class="disadvantages relative">
    <img class="background_mobile background_mobile_8" src="/assets/image/background/bg_8.png" alt="#">
    <div class="main-container">
        <div class="disadvantages__wrapper">
            <div class="disadvantages__content">
                <div class="disadvantages__badge">
                    <img src="/assets/image/disadvantages/icon-info.svg" alt="#">
                    Этого нет
                </div>
                <h2 class="disadvantages__title">У 98% НАШИХ КОНКУРЕНТОВ</h2>
                <div class="disadvantages__cards">
                    <div class="disadvantages__cards-item">
                        <img src="/assets/image/disadvantages/disadvantages_1.png" alt="#">
                        <div class="disadvantages__cards-content">
                            <span>Международный стандарт качества IRATA</span>
                            <span>Все сотрудники аттестованы</span>
                        </div>
                    </div>
                    <div class="disadvantages__cards-item">
                        <img src="/assets/image/disadvantages/disadvantages_2.png" alt="#">
                        <div class="disadvantages__cards-content">
                            <span>Любые риски перед третьими лицами во время нашей работы мы страхуем на 1 млн. руб.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="disadvantages__image-wrapper">
                <img src="/assets/image/disadvantages/disadvantages_background.png" alt="#" class="disadvantages__image">
            </div>
        </div>
    </div>
</section>
