<footer class="footer">
    <div class="main-container">
        <div class="footer__top">
            <div class="footer__info">
                <div class="footer__logo">
                    {% include '../blocks/logo.twig' %}
                </div>
                <span class="footer__info-item">ООО «ПРОФАЛЬПСТРОЙ»</span>
                <span class="footer__info-item">ИНН: 7718285436</span>
                <span class="footer__info-item">КПП: 771801001</span>
            </div>
            <nav class="footer__nav">
                <ul class="footer__nav-list">
                    <li class="footer__nav-item footer__nav-item_activated">
                        <a class="footer__nav-link" href="#">Главная</a>
                    </li>
                    <li class="footer__nav-item">
                        <a class="footer__nav-link" href="#">Виды работа</a>
                    </li>
                    <li class="footer__nav-item">
                        <a class="footer__nav-link" href="#">Портфолио</a>
                    </li>
                    <li class="footer__nav-item">
                        <a class="footer__nav-link" href="#">Цены</a>
                    </li>
                    <li class="footer__nav-item">
                        <a class="footer__nav-link" href="#">Акции</a>
                    </li>
                    <li class="footer__nav-item">
                        <a class="footer__nav-link" href="#">Статьи</a>
                    </li>
                    <li class="footer__nav-item">
                        <a class="footer__nav-link" href="#">Контакты</a>
                    </li>
                </ul>
                <ul class="footer__nav-list">
                    <li class="footer__nav-item">
                        <a class="footer__nav-link" href="#">Мойка фасадов</a>
                    </li>
                    <li class="footer__nav-item">
                        <a class="footer__nav-link" href="#">Герметизация швов</a>
                    </li>
                    <li class="footer__nav-item">
                        <a class="footer__nav-link" href="#">Покраска металлоконструкций</a>
                    </li>
                    <li class="footer__nav-item">
                        <a class="footer__nav-link" href="#">Работа с рекламой</a>
                    </li>
                    <li class="footer__nav-item">
                        <a class="footer__nav-link" href="#">Уборка снега</a>
                    </li>
                    <li class="footer__nav-item">
                        <a class="footer__nav-link" href="#">Монтажные работы</a>
                    </li>
                    <li class="footer__nav-item">
                        <a class="footer__nav-link" href="#">Демонтажные работы</a>
                    </li>
                </ul>
                <ul class="footer__nav-list">
                    <li class="footer__nav-item">
                        <a class="footer__nav-link" href="#">Фасадные работы</a>
                    </li>
                    <li class="footer__nav-item">
                        <a class="footer__nav-link" href="#">Кровельные работы</a>
                    </li>
                    <li class="footer__nav-item">
                        <a class="footer__nav-link" href="#">Подъем грузов</a>
                    </li>
                    <li class="footer__nav-item">
                        <a class="footer__nav-link" href="#">Работа с деревьями</a>
                    </li>
                </ul>
            </nav>
            <div class="footer__contacts">
                <div class="footer__contacts-top">
                    {% include '../blocks/social-buttons.twig' %}
                    <div class="footer__contacts-info">
                        <span class="footer__contacts-phone">+7 (495) 104-60-04</span>
                        <span class="footer__contacts-mail">info@profalpstroi.ru</span>
                    </div>
                </div>
                <div class="footer__contacts-bottom">
                    {% include '../blocks/map.twig' %}
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <div class="footer__copyright">
                <span>Все права защищены (с) 2006 - 2024</span>
                <span>ООО «ПРОФАЛЬПСТРОЙ»</span>
            </div>
            <div class="footer__agreement">
                <span>Информация на сайте <a href="#" class="link link_red">profalpstroi.ru</a> не является публичной офертой</span>
            </div>
            <div class="footer__developer">
                Сайт разработан: Randee
            </div>
        </div>
    </div>
</footer>
