<nav class="header__mobile-nav hidden">
    <div class="header__close">
        <span class="header__mobile-menu-link">
            <img src="/assets/image/sprite/icon-close.svg" alt="">
        </span>
    </div>
    <ul class="header__mobile-nav-list">
        <li class="header__mobile-nav-item">
            <a class="header__mobile-nav-link header__mobile-nav-link_active" href="#">Главная</a>
        </li>
        <li class="header__mobile-nav-item">
            <a class="header__mobile-nav-link" href="#">Виды работ</a>
        </li>
        <li class="header__mobile-nav-item">
            <a class="header__mobile-nav-link" href="#">Портфолио</a>
        </li>
        <li class="header__mobile-nav-item">
            <a class="header__mobile-nav-link" href="#">Цены</a>
        </li>
        <li class="header__mobile-nav-item">
            <a class="header__mobile-nav-link" href="#">Акции</a>
        </li>
        <li class="header__mobile-nav-item">
            <a class="header__mobile-nav-link" href="#">Статьи</a>
        </li>
        <li class="header__mobile-nav-item">
            <a class="header__mobile-nav-link" href="#">Контакты</a>
        </li>
    </ul>
</nav>
<header class="header">
    <div class="header__information">
        <div class="main-container">
            <div class="header__information-inner">
                <div class="header__logo">
                    {% include '../blocks/logo.twig' %}
                </div>
                <div class="header__map">
                    {% include '../blocks/map.twig' %}
                </div>
                <div class="header__phone">
                    {% include '../blocks/callback-phone.twig' %}
                </div>
                <div class="header__contacts">
                    {% include '../blocks/contacts-worktime.twig' %}
                </div>
                <div class="header__socials">
                    {% include '../blocks/social-buttons.twig' %}
                </div>
                <div class="header__mobile-menu">
                    <span class="header__mobile-menu-link">
                        <img src="/assets/image/header/menu_icon.png" alt="">
                    </span>
                </div>
            </div>
        </div>
    </div>
    <nav class="header__nav">
        <div class="main-container">
            <div class="header__mobile-information">
                <div class="header__nav-socials">
                    {% include '../blocks/social-buttons.twig' %}
                </div>
                <div class="header__nav-contacts">
                    {% include '../blocks/contacts-worktime.twig' %}
                </div>
            </div>
            <ul class="header__nav-list">
                <li class="header__nav-item">
                    <a class="header__nav-link header__nav-link_active" href="#">Главная</a>
                </li>
                <li class="header__nav-item">
                    <a class="header__nav-link" href="#">Виды работ</a>
                </li>
                <li class="header__nav-item">
                    <a class="header__nav-link" href="#">Портфолио</a>
                </li>
                <li class="header__nav-item">
                    <a class="header__nav-link" href="#">Цены</a>
                </li>
                <li class="header__nav-item">
                    <a class="header__nav-link" href="#">Акции</a>
                </li>
                <li class="header__nav-item">
                    <a class="header__nav-link" href="#">Статьи</a>
                </li>
                <li class="header__nav-item">
                    <a class="header__nav-link" href="#">Контакты</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
