<section class="phone-question relative">
    <img class="background_mobile background_mobile_10" src="/assets/image/background/bg_10.png" alt="#">
    <img class="background_mobile background_mobile_9" src="/assets/image/background/bg_9.png" alt="#">
    <div class="main-container">
        <div class="phone-question__wrapper">
            <h2 class="phone-question__title"><span class="strong">Ответим на все вопросы</span> по вашему проекту максимально развёрнуто</h2>
            <span class="phone-question__caption">На бесплатной, подробной и неограниченной по времени консультации от специалиста с 15-ти летнем стажем в промышленном альпинизме</span>
            <div class="phone-question__content-wrapper">
                <div class="phone-question__content-image">
                    <img src="/assets/image/phone-question/phone-question.png" alt="#">
                </div>
                <div class="phone-question__form-wrapper">
                    <span class="phone-question__form-title">Введите ваш <strong>номер телефона</strong></span>
                    <span class="phone-question__form-caption">Мы позвоним в этот же день на ваш контактный номер</span>
                    <form action="#" class="phone-question__form">
                        <div class="phone-question__form-group">
                            <input type="text" class="phone-question__form-input" placeholder="+7 (999) 999-99-99">
                            <button class="phone-question__form-button">Записаться на консультацию</button>
                        </div>
                        <span class="phone-question__form-policy">
                            Оставляя заявку, вы даёте согласие на обработку персональных данных и соглашаетесь c <a href="#">политикой конфиденциальности</a>
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
