<section class="price-list">
    <div class="main-container">
        <div class="price-list__wrapper">
            <div class="price-list__image-wrapper">
                <img src="/assets/image/price-list_background.png" alt="">
            </div>
            <div class="price-list__content">
                <h2 class="price-list__title">
                    Заполните форму ниже и <span
                            class="strong">узнайте актуальную стоимость наших услуг прямо сейчас</span>
                </h2>
                <form action="#" class="price-list__form">
                    <div class="price-list__caption">
                        Прайс-лист автоматически откроется
                        в новом окне
                    </div>
                    <input class="price-list__input" type="text" placeholder="+7 (999) 999-99-99">
                    <button class="button button_medium">
                        <span class="button__title">Скачать прайс-лист</span>
                        <span class="button__caption">с докризисными ценами</span>
                    </button>
                    <div class="price-list__policy">
                        <span>Оставляя заявку, вы даёте согласие на обработку персональных данных и соглашаетесь c</span>
                        <a href="#">политикой конфиденциальности</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
