<section class="quality">
    <div class="main-container">
        <div class="quality__header">
            <h2 class="quality__title">
                Наработали собственные технологии позволяющие <strong>нашим клиентам экономить 20% выделенного бюджета на проект</strong>
                — без потери качества выполняемых работ
            </h2>
        </div>
        <div class="quality__list">
            <div class="quality__item">
                <div class="quality__image-wrapper">
                    <img src="/assets/image/quality/quality_1.png" alt="#">
                </div>
                <span class="quality__caption">
                    <span class="quality__caption_highlight">Собственный штат специалистов</span> – не привлекаем сторонних подрядчиков, что исключает наценки и обеспечивает качества.
                </span>
            </div>
            <div class="quality__item">
                <div class="quality__image-wrapper">
                    <img src="/assets/image/quality/quality_2.png" alt="#">
                </div>
                <span class="quality__caption">
                    Полностью прозрачная и фиксированная стоимость работ по смете
                </span>
            </div>
            <div class="quality__item">
                <div class="quality__image-wrapper">
                    <img src="/assets/image/quality/quality_3.png" alt="#">
                </div>
                <span class="quality__caption">
                    Любые риски перед третьими лицами во время нашей работы застрахованы на 1 млн. руб.
                </span>
            </div>
            <div class="quality__item">
                <div class="quality__image-wrapper">
                    <img src="/assets/image/quality/quality_4.png" alt="#">
                </div>
                <span class="quality__caption">
                    Имеются абсолютно все разрешения. Потратили более 300 000 ₽ на подготовку документов по охране труда
                </span>
            </div>
            <div class="quality__item">
                <div class="quality__image-wrapper">
                    <img src="/assets/image/quality/quality_5.png" alt="#">
                </div>
                <span class="quality__caption">
                    Работаем по договору гарантию на наши услуги от 1 года до 5 лет
                </span>
            </div>
            <div class="quality__item">
                <div class="quality__image-wrapper">
                    <img src="/assets/image/quality/quality_6.png" alt="#">
                </div>
                <span class="quality__caption">
                    Не впариваем большие чеки, а подстраиваемся под ваш бюджет
                </span>
            </div>
            <div class="quality__item">
                <div class="quality__image-wrapper">
                    <img src="/assets/image/quality/quality_7.png" alt="#">
                </div>
                <span class="quality__caption">
                    Используем профессиональные оборудование лидеров мировых брендов
                </span>
            </div>
            <div class="quality__item">
                <div class="quality__image-wrapper">
                    <img src="/assets/image/quality/quality_8.png" alt="#">
                </div>
                <span class="quality__caption">
                    Экономия времени – выполняем проекты "под ключ" в четко оговоренные сроки, благодаря отлаженным процессам и современным технологиям.
                </span>
            </div>
        </div>
        <div class="hand-lottie">
            <dotlottie-player src="https://lottie.host/1ddae47e-1374-4c7d-a427-45484592985e/lnoMNvL0Xv.lottie"
                              background="transparent" speed="1" style="width: 50px; height: 50px" loop=""
                              autoplay=""></dotlottie-player>
        </div>
    </div>
</section>
