<section class="steps">
    <div class="main-container">
        <div class="steps__wrapper">
            <div class="steps__image-wrapper">
                <img src="/assets/image/steps_background.png" alt="">
            </div>
            <div class="steps__content">
                <img class="steps__content-image" src="/assets/image/steps_icon.png" alt="">
                <h2 class="steps__title"><span class="strong">Начнём с вами работу</span> в 4 отлаженных действия</h2>
                <div class="steps__cards">
                    <div class="steps__item">
                        <span class="steps__number">01</span>
                        <span class="steps__item-content">
                            <a class="link link_blue link_underline" href="#">Оставляете заявку</a>, на бесплатную консультацию от промышленного альпиниста с 15-ти летнем
                            стажем
                        </span>
                    </div>
                    <div class="steps__item">
                        <span class="steps__number">02</span>
                        <span class="steps__item-content">
                            Специалисты выезжают к Вам для оценки работ и составления точной сметы - БЕСПЛАТНО
                        </span>
                    </div>
                    <div class="steps__item">
                        <span class="steps__number">03</span>
                        <span class="steps__item-content">
                            В тот же день мы подготавливаем коммерческое предложение и смету с фиксированными ценами
                        </span>
                    </div>
                    <div class="steps__item">
                        <span class="steps__number">04</span>
                        <span class="steps__item-content">
                            По окончании работ мы даем гарантию и сервисное обслуживание
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
