<div class="social-buttons">
    <a class="social-buttons__link" href="#">
        <img src="/assets/image/svg/message-whatsapp.svg" alt="#">
    </a>
    <a class="social-buttons__link" href="#">
        <img src="/assets/image/svg/message-telegram.svg" alt="#">
    </a>
</div>
