<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <title>
        {% block title%}{% endblock %}
    </title>
    <link rel="stylesheet" href="./css/style.min.css">
    <script type="text/javascript" src="https://cdn.envybox.io/widget/cbk.js?wcb_code=ee39ffdbbf308be8ede9162d921f3035" charset="UTF-8" async></script>
    <link rel="stylesheet" href="https://cdn.envybox.io/widget/cbk.css">
    <script>(function(a,m,o,c,r,m){a[m]={id:"402116",hash:"685241ef2a111c39c1e375538b41c992ef4a90d0edb950ebcf3562899275b66a",locale:"ru",inline:false,setMeta:function(p){this.params=(this.params||[]).concat([p])}};a[o]=a[o]||function(){(a[o].q=a[o].q||[]).push(arguments)};var d=a.document,s=d.createElement('script');s.async=true;s.id=m+'_script';s.src='https://gso.amocrm.ru/js/button.js';d.head&&d.head.appendChild(s)}(window,0,'amoSocialButton',0,0,'amo_social_button'));</script>
    <script>(function(a,m,o,c,r,m){a[m]={id:"402116",hash:"685241ef2a111c39c1e375538b41c992ef4a90d0edb950ebcf3562899275b66a",locale:"ru",inline:true,setMeta:function(p){this.params=(this.params||[]).concat([p])}};a[o]=a[o]||function(){(a[o].q=a[o].q||[]).push(arguments)};var d=a.document,s=d.createElement('script');s.async=true;s.id=m+'_script';s.src='https://gso.amocrm.ru/js/button.js';d.head&&d.head.appendChild(s)}(window,0,'amoSocialButton',0,0,'amo_social_button'));</script>
</head>
<body>

{% include 'parts/header.twig' %}

{% block page %}
    <div class="content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, vero?
    </div>
{% endblock %}

{% include 'parts/footer.twig' %}

<script src="./js/vendor.min.js"></script>
<script src="./js/main.min.js"></script>
</body>
</html>
