<div id="modal-form" class="modal-form mfp-hide">
    <button type="button" class="modal-form__close">
        <span aria-hidden="true"></span>
    </button>
    <div class="modal-form__wrapper">
        <h2 class="modal-form__title">Стойте ! Подождите !</h2>
        <span class="modal-form__caption"><span class="strong">Вызовите мастера</span> на просчет объекта это <span
                    class="strong">бесплатно</span> !</span>
        <div class="modal-form__content">
            <span class="modal-form__choice">Выберите куда вам выслать ?</span>
            <form action="#" class="modal-form__form">
                <select class="modal-form__form-select">
                    <option value="value1">Получить в WhatsApp</option>
                    <option value="value2">Получить в Telegram</option>
                </select>
                <input type="text" class="modal-form__form-input" placeholder="Введите номер телефона">
                <input type="submit" class="modal-form__form-button" value="Отравить заявку">
                <label class="modal-form__form-radio">
                    <input type="radio">
                    <span>
                        Cогласен с условиями <a href="#">политики конфиденциальности данных</a>
                    </span>
                </label>
            </form>
        </div>
    </div>
</div>
